<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bundle.css">
  </head>
  <body>
    <header class='text-center'>
      <h1>Snacker - A Data Visualizer</h1>
    </header>

    <div class="container text-center">

      <div class="row">

        <div id="dropzone-area" class="col-sm-2">
        </div> <!-- /dropzone-area -->

        <div id="visualization-area" class="col-sm-10">
        </div> <!-- /visualization-area -->

      </div> <!-- /row -->

      <div class="row">

        <div class="col-md-6 col-md-offset-3">
          <div id="example"></div>
        </div> <!-- /column -->

      </div> <!-- /row -->

    </div> <!-- /container -->

    <footer class="footer">
      <nav class="pull-left">
        <a href="#">About</a>
        <a href="#">Privacy</a>
      </nav>
      <nav class="pull-right">
        <a href="#">Sign In</a>
        <a href="#">Sign Up</a>
      </nav>
    </footer>

    <!-- Bundled scripts file is placed at the bottom of the `body` to allow progressive rendering  -->
    <script src="bundle.js"></script>


  </body>
</html>
