<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="bundle.css">

        <!-- temporary include this style here while less compiler task is not set up -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/taucharts/latest/tauCharts.min.css">

  </head>
  <body>
    <header class='main-header text-center'>
      <h1>Snacker - A Data Visualizer</h1>
    </header>

    <div class="container-fluid">

      <div class="row">

        <div class="col-sm-5">
          <div id="dropzone-area"></div>
          <div id="scatter"></div>
        </div>

        <div class="col-sm-7">
          <div id="csv-stats-tables-area"></div>
        </div>

      </div> <!-- /row -->

      <div class="row">

        <div class="col-md-6 col-md-offset-3">
          <div id="example"></div>
        </div> <!-- /column -->

      </div> <!-- /row -->

    </div> <!-- /container -->

    <footer class="footer">
      <nav class="pull-left">
        <a href="#">About</a>
        <a href="#">Privacy</a>
      </nav>
      <nav class="pull-right">
        <a href="#">Sign In</a>
        <a href="#">Sign Up</a>
      </nav>
    </footer>

    <!-- TauCharts doesn't play nice with browserify :( -->
    <script src="//cdn.jsdelivr.net/d3js/latest/d3.min.js" charset="utf-8"></script>
    <script src="//cdn.jsdelivr.net/underscorejs/latest/underscore-min.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/taucharts/latest/tauCharts.min.js" type="text/javascript"></script>

    <!-- Bundled scripts file is placed at the bottom of the `body` to allow progressive rendering  -->
    <script src="bundle.js"></script>

  </body>
</html>
